<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TP7 SIM Gastón Tarasconi</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>

<style>
    .modal-xl{
        max-width: 80vw;
    }

    .table-hover tbody tr:hover {
        background-color: #20c997;
    }
</style>


<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-3">
            <label class="label" for="cantidad_iteraciones">Cantidad Iteraciones:</label>
            <input type="text" class="form-control" id="cantidad_iteraciones" value="1000">
        </div>

        <div class="col-2">
            <label for="c_filas_mostrar">Cantidad Filas:</label>
            <input type="text" class="form-control" id="c_filas_mostrar" value="100">
        </div>
        <div class="col">
            <!-- Parameters -->
            <label class="label" for="capacidad_vagon">Capacidad Vagón:</label>
            <input type="text" class="form-control"  id="capacidad_vagon" value="8">
        </div>

        <div class="col">
            <label class="label" for="ganancia_traslado_auto">Ganancia traslado: (auto)</label>
            <input type="text" class="form-control"  id="ganancia_traslado_auto" value="20">
        </div>

        <div class="col">
            <label class="label" for="costo_traslado_vagon">Costo traslado: (vagón)</label>
            <input type="text" class="form-control"  id="costo_traslado_vagon" value="70">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-3">
            <label class="label" for="mostrar_desde">Mostrar desde:</label>
            <input type="text" class="form-control" id="mostrar_desde" value="1">
        </div>
        <div class="col-1 text-right">
            <label class="label" for="radio_politica_a">Política A</label>
            <input type="radio" name="radio_politica" id="radio_politica_a">

            <br>
            <label class="label" for="radio_politica_b">Política B</label>
            <input type="radio" name="radio_politica" id="radio_politica_b">

            <br>
            <label class="label" for="radio_politica_c">Otro</label>
            <input type="radio" name="radio_politica" id="radio_politica_c">
        </div>
        <div class="col-1">
            <label for="txt_cant_autos_traslado">Cantidad autos para traslado:</label>
            <input type="text" id="txt_cant_autos_traslado" class="form-control">
        </div>
        <div class="col">
            <label class="label" for="tolerancia_espera">Tolerancia espera:</label>
            <input type="text" class="form-control"  id="tolerancia_espera" value="12">
        </div>
        <div class="col">
            <label class="label" for="costo_abandono">Costo por abandono:</label>
            <input type="text" class="form-control"  id="costo_abandono" value="150">
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <button id="btn_simular" class="btn btn-primary mt-3">Simular</button>
        </div>
        <div class="col-3"></div>
        <div class="col">
            <label class="label" for="reposicion_combustible">Reposición combustible: (r)</label>
            <input type="text" class="form-control"  id="reposicion_combustible" value="8">
        </div>

        <div class="col">
            <label class="label" for="tiempo_carga_combustible">Reposición combustible: (tiempo)</label>
            <input type="text" class="form-control"  id="tiempo_carga_combustible" value="19.75">
        </div>

        <div class="col">
            <label class="label" for="tiempo_vagon_vacio">Tiempo vagón vacío:</label>
            <input type="text" class="form-control"  id="tiempo_vagon_vacio" value="3">
        </div>
    </div>

    <div class="form-row border-top border-left border-right mt-2">
        <div class="col-1 text-right">
            <span>Métricas:</span>
        </div>
        <div class="col-1 text-right">
            Cola Máxima1:
        </div>
        <div class="col-1">
            <b id="lbl_cola_maxima1"></b>
        </div>
        <div class="col-2 text-right">
            Cantidad Autos que Abandonaron1:
        </div>
        <div class="col-1">
            <b id="lbl_cant_aband1"></b>
        </div>
        <div class="col-1 text-right">
            Cantidad Viajes:
        </div>
        <div class="col-1">
            <b id="lbl_cant_viajes"></b>
        </div>
        <div class="col"></div>
    </div>
    <div class="form-row border-bottom border-left border-right">
        <div class="col-1"></div>
        <div class="col-1 text-right">
            Cola Máxima2:
        </div>
        <div class="col-1">
            <b id="lbl_cola_maxima2"></b>
        </div>
        <div class="col-2 text-right">
            Cantidad Autos que Abandonaron2:
        </div>
        <div class="col-1">
            <b id="lbl_cant_aband2"></b>
        </div>
        <div class="col"></div>
    </div>


    <div class="row mt-2">
        <div class="col">
            <table id="table" class="table table-striped table-bordered table-hover table-compact">
                <thead>
                    <tr>
                        <th>Iteración</th>
                        <th>Reloj (minutos)</th>
                        <th>Evento</th>
                        <th>Llegada Auto Parada1</th>
                        <th>Llegada Auto Parada2</th>
                        <th>Abandono Auto Parada1</th>
                        <th>Abandono Auto Parada2</th>
                        <th>Fin Viaje</th>
                        <th>Fin Carga Combustible</th>
                        <th>Cantidad Autos Parada1</th>
                        <th>Cantidad Autos Parada2</th>
                        <th>AC Costo Traslado Vagón</th>
                        <th>AC Costo Abandono Auto</th>
                        <th>AC Ganancia Traslado Auto</th>
                        <th>Estado Vagón</th>
                        <th>Nro Viaje Vagón</th>
                        <th>Cola Máxima1</th>
                        <th>Cola Máxima2</th>
                        <th>Cant Abandono1</th>
                        <th>Cant Abandono2</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modal_title"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-1 text-right">Autos Parada1:</div>
                <div class="col" id="modal_autos1"></div>
            </div>
            <div class="form-row mt-2">
                <div class="col-1 text-right">Autos Parada2:</div>
                <div class="col" id="modal_autos2"></div>
            </div>
            <div class="form-row mt-2">
                <div class="col-1 text-right">Autos en viaje:</div>
                <div class="col" id="modal_autos_en_viaje"></div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"
></script>

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>
